.index-main{width:990px;min-width:990px;margin:0 auto;clear:both;}
/*联板广告*/
.slide{position:relative;float:left;height:320px;width:690px;overflow:hidden;z-index:9;}
.ad-slide{position:absolute;height:320px;width:890px;top:0;right:-100px;overflow:hidden;}
.ad-slide ul.simg{position:relative;height:320px;width:100%;}
.ad-slide ul.simg li{position:absolute;display:none;left:0;top:0;height:320px;width:100%;overflow:hidden;z-index:1;}
.ad-slide ul.simg li img{width:100%;}
.slide p.btn{position:absolute;height:25px;left:15px;bottom:15px;z-index:99;}
.slide p.btn b{display:inline-block;float:left;height:25px;width:25px;background:url(images/home-bg.png) no-repeat -97px 0;_background:url(images/slidebtn8.png) no-repeat 0 0;}
.slide p.btn b.cur{background-position:-125px 0;_background:url(images/slidebtn8.png) no-repeat -25px 0;}
/*生日面板*/
.birthday{float:right;position:relative;height:320px;width:290px;background:#ddd;z-index:99;}
.birthday .switch-btn{position:absolute;display:inline-block;height:50px;width:50px;right:0;bottom:0;background:url(images/home-bg.png) no-repeat -130px -165px;z-index:10;}
.birthday .switch-btn-c{background-position:-130px -215px;}
.birthday div.init-pic{position:relative;z-index:8;}
.birthday div.pic{position:absolute;top:0;right:0;height:320px;width:290px;overflow:hidden;cursor:pointer;z-index:9;}
.birthday div.pic img{position:absolute;right:0;top:0;height:320px;}
.birthday div.birth-bar{position:absolute;height:320px;width:290px;right:0px;top:0;overflow:hidden;z-index:7;background:url(images/birthday-banner.jpg) no-repeat right;}
.birthday div.birth-bar div.person{position:absolute;opacity:0;}
.birthday div.birth-bar div.per-01{right:735px;top:60px;height:118px;width:80px;background:url(images/p1.png) no-repeat;_background:url(images/p18.png) no-repeat;}
.birthday div.birth-bar div.per-02{right:570px;top:20px;height:131px;width:121px;background:url(images/p2.png) no-repeat;_background:url(images/p28.png) no-repeat;}
.birthday div.birth-bar div.per-03{right:470px;top:110px;height:118px;width:104px;background:url(images/p3.png) no-repeat;_background:url(images/p38.png) no-repeat;}
.birthday div.birth-bar div.per-04{right:350px;top:0px;height:116px;width:135px;background:url(images/p4.png) no-repeat;_background:url(images/p48.png) no-repeat;}
.birthday div.birth-bar div.ask{position:absolute;width:300px;height:85px;right:85px;top:120px;}
.birthday div.birth-bar a.askfor{display:inline-block;width:300px;height:85px;background:url(images/bir-btn.png) no-repeat;}
.birthday div.birth-bar div.my-info{position:absolute;width:240px;padding:0 20px;height:0px;bottom:74px;left:17px;background:url(images/bir-bg.png) no-repeat;overflow:hidden;}
.birthday div.birth-bar div.my-info p.tip{line-height:25px;text-align:center;color:#fff;margin:10px 0;_color:#666;}
.birthday div.birth-bar div.my-info input.name{width:218px;height:18px;padding:9px 10px;background:url(images/bir-bg.png) 0 -126px;border:none;}
.birthday div.birth-bar .more-ask-way{position:absolute;bottom:-25px;right:3px;height:36px;width:100px;background:#333;line-height:36px;overflow:hidden;opacity:0.6;filter:Alpha(opacity=60);}
.birthday div.birth-bar .more-ask-way:hover{opacity:0.9;filter:Alpha(opacity=90);}
.birthday div.birth-bar .more-ask-way a.more{float:right;display:inline-block;height:36px;width:100px;text-align:center;color:#fff;}
.birthday div.birth-bar .more-ask-way div.social-list{float:right;height:23px;width:120px;padding:6px 0;}
.birthday div.birth-bar .more-ask-way div.social-list a.s-icon{display:inline-block;float:left;height:23px;width:23px;margin-right:7px;background:url(images/social-icon.png) no-repeat;}
.birthday div.birth-bar .more-ask-way div.social-list a.wx{background-position:0 0;}
.birthday div.birth-bar .more-ask-way div.social-list a.wb{background-position:-23px 0;}
.birthday div.birth-bar .more-ask-way div.social-list a.rr{background-position:-46px 0;}
.birthday div.birth-bar .more-ask-way div.social-list a.db{background-position:-69px 0;}
ul.city-list{height:190px;width:1000px;margin:20px auto;overflow:hidden;_margin-right:-10px;}
ul.city-list li{float:left;height:190px;width:190px;margin-right:10px;}
ul.city-list li a{display:inline-block;height:190px;width:190px;opacity:0.8;filter:Alpha(opacity=80);}
ul.city-list li a:hover{opacity:1;filter:Alpha(opacity=100);}
/*楼层*/
.floor{position:relative;height:480px;margin-bottom:40px;}
.floor .left-ad{position:relative;float:left;height:482px;width:215px;}
.floor .left-ad img{position:absolute;top:0;right:0;height:500px;width:230px;z-index:9;}
.floor .left-ad .cate{position:absolute;top:140px;right:0;width:170px;height:100px;z-index:10;}
.floor .left-ad .cate a{float:right;display:inline-block;height:50px;width:170px;background:#fff;line-height:50px;text-indent:60px;font-size:18px;opacity:0.8;filter:Alpha(opacity=80);color:#000;}
.floor .left-ad .cate a em{padding-left:30px;display:none;}
.floor .left-ad .cate a.cur{opacity:1;filter:Alpha(opacity=100);}
.floor .left-ad .cate a.cur em{display:inline;}
.floor .product-box{position:relative;float:right;width:766px;height:482px;overflow:hidden;}
.floor .pro-list{position:absolute;height:964px;width:766px;right:0;top:0;}
.floor .pro-list ul{height:484px;width:768px;_width:770px;margin:-2px 0 0 -2px; overflow: hidden;}
.floor .pro-list ul li{position:relative;float:left;height:240px;width:190px;background:#fff;margin:2px 0 0 2px;font-family:\5b8b\4f53;overflow:hidden;}
.floor .pro-list ul li a.pro-img{display:block;position:relative;left:30px;top:0;height:160px;width:160px;}
.floor .pro-list ul li a.pro-name{display:block;height:25px;width:150px;padding:0 20px;line-height:35px;color:#666;overflow:hidden;word-wrap:break-word;word-break:break-all;}
.floor .pro-list ul li a.pro-name:hover{color:#f60;text-decoration:underline;}
.floor .pro-list ul li p.price{height:30px;width:200px;padding:0 20px;line-height:30px;overflow:hidden;color:#999;}
.floor .pro-list ul li p.price b{float:left;color:#f60;font-size:20px;font-family:Microsoft YaHei;}
.floor .pro-list ul li p.price em{float:left;padding:0 3px;line-height:35px;}
.floor .pro-list ul li p.price span{float:left;color:#f60;font-size:14px;font-family:Microsoft YaHei;line-height:33px;}
.floor .pro-list ul li p.old-price{height:20px;width:200px;padding:0 20px;color:#999;line-height:20px;font-family:Arial;}
.floor .pro-list ul li a.more{display:inline-block;height:240px;width:190px;cursor:pointer;}
.floor .pro-list ul li a.more b{display:block;height:50px;width:90px;margin:95px 15px 0 45px;background:url(images/more.png) no-repeat;}
.floor .pro-list ul li a.more:hover b{width:120px;transition: all 0.3s ease; -moz-transition: all 0.3s ease; -webkit-transition: all 0.3s linear; -o-transition: all 0.3s ease;}
/*活动*/
.activity{height:180px;width:990px;margin-bottom:40px;}
.activity ul{height:145px;padding-top:35px;}
.activity ul li{position:relative;float:left;height:140px;width:198px;border-top:5px solid #ffdfb0;}
.activity ul li b.time{position:absolute;display:inline-block;height:35px;width:198px;top:-35px;left:0;line-height:35px;color:#666;text-align:center;}
.activity ul li a{display:block;height:130px;width:130px;margin:0 auto;margin-top:10px;text-align:center;background:url(images/activity.png) -130px 0 no-repeat; _background:url(images/activity8.png) -130px 0 no-repeat;}
.activity ul li a span.name{display:inline-block;height:35px;width:130px;overflow:hidden;color:#f90;font-size:24px;line-height:35px;margin-top:35px;}
.activity ul li a em.status{display:inline-block;height:25px;width:130px;overflow:hidden;color:#000;font-size:14px;line-height:25px;}
.activity ul li.end{border-top:5px solid #cecece;}
.activity ul li.end a{background-position:0 0;}
.activity ul li.end a span.name{color:#999;}
.activity ul li.cur{border-top:5px solid #ff9900;}
.activity ul li i.more{display:inline-block;height:25px;width:60px;background:url(images/home-bg.png) no-repeat -115px -100px;}
/*首页尾部帮助*/
/* alter [[ */
.index-help{height:227px;width:990px;margin-bottom:30px;}
.index-help div.box{position:relative;float:left;height:227px;background:#fff;}
/* alter ]] */
.index-help div.box b.title{position:absolute;top:15px;left:20px;font-size:18px;color:#000;}
/* alter [[ */
.index-help div.zs a{display:block;height:47px;width:137px;background:#2266ee;color:#fff !important;text-align:center;line-height:47px;font-size:18px;margin:auto;margin:90px auto;opacity:0.8;filter:Alpha(opacity=80);}
/* alter ]] */
.index-help div.zs a:hover{opacity:1;filter:Alpha(opacity=100);}
/* alter [[ */
.index-help div.question{width:250px;}
.index-help div.question ul{float:left;margin-bottom:10px;height:167px;width:190px;margin-top:50px;margin-left:20px;overflow:hidden;}
.index-help div.question ul li{float:left;height:24px;width:190px;line-height:24px;font-family:\5b8b\4f53;overflow:hidden;word-wrap:break-word;word-break:break-all;}
/* alter ]] */
.index-help div.question ul li a{color:#666;}
.index-help div.question ul li a:hover{color:#f60;}
/* alter [[ */
.index-help div.wb{width:400px;}
/* alter ]] */
/*首页楼层导航*/
.floor-guide{position:fixed;display:none;left:50%;margin-left:500px;height:auto;width:40px;top:250px;z-index:9;}
.floor-guide a.floor-num{position:relative;float:left;display:inline-block;height:40px;width:40px;margin-bottom:1px;text-align:center;line-height:40px;background:#fff;overflow:hidden;color:#8c8c8c;font-size:16px;}
.floor-guide a.floor-num:hover{text-decoration:none;}
.floor-guide a.floor-num span{position:absolute;display:inline-block;height:34px;width:30px;padding:6px 5px 0;background:#ff9900;color:#fff;left:0;top:0px;line-height:1.2;font-size:12px;transition: all 0.3s ease; -moz-transition: all 0.3s ease; -webkit-transition: all 0.3s linear; -o-transition: all 0.3s ease;opacity:0;filter:Alpha(opacity=0);cursor:pointer;}
.floor-guide a.floor-num:hover span{top:0;opacity:1;filter:Alpha(opacity=100);}
.floor-guide a.cur-floor span{opacity:1;filter:Alpha(opacity=100);}
.floor-guide a.go-back-top{background:url(images/home-bg.png) no-repeat 0 -175px;}
.floor-guide a.go-back-top span{background:url(images/home-bg.png) no-repeat -40px -175px;}
/* 弹窗-升级介绍 */
.pop-layer{display:none;position:absolute;left:0;top:0;z-index:11000;background:#000;filter:alpha(opacity=30);opacity:.3;}
.pop-window{display:none;position:absolute;left:50%;z-index:11005;width:705px;height:329px;margin-left:-352px;background:url(images/yunzuan-popup.png) 0 0;}
.pop-window .close{position:absolute;top:80px;right:20px;width:20px;height:20px;background:url(images/yunzuan-popup.png) -278px -330px;overflow:hidden;}
.pop-window-cont{padding:160px 40px 0 145px;}
.pop-window-cont p{font-size:14px;font-family:'microsoft yahei';}
.pop-window-cont p b{color:#f60;font-size:22px;}
.pop-window-cont p a{color:#3367cc;font-size:14px;}
.pop-window-cont p a:hover{color:#f60;}
.pop-window-cont .btn{display:block;width:135px;height:40px;margin-top:25px;background:url(images/yunzuan-popup.png) 0 -330px;overflow:hidden;}
.pop-window-cont .btn:hover{background-position:-136px -330px;}

.root1200 .index-main{width:1190px;min-width:1190px;}
.root1200 .slide{width:890px;}
.root1200 .ad-slide{right:0px;}
.root1200 ul.city-list{width:1200px;margin:30px auto;margin-right:-10px;}
.root1200 .floor .product-box{width:966px;}
.root1200 .floor .pro-list{width:966px;}
.root1200 .floor .pro-list ul{height:484px;width:968px;_width:970px;margin:-2px 0 0 -2px; overflow: hidden;}
.root1200 .floor .pro-list ul li{width:240px;}
.root1200 .floor .pro-list ul li a.pro-img{left:55px;}
.root1200 .floor .pro-list ul li a.more{width:240px;}
.root1200 .floor .pro-list ul li a.more b{margin:95px 40px 0 80px;}
.root1200 .floor .pro-list ul li a.pro-name{width:200px;}
.root1200 .activity,.root1200 .index-help{width:1190px;}
.root1200 .activity ul li{width:238px;}
.root1200 .activity ul li b{width:238px;}
.root1200 .floor-guide{margin-left:598px;}


/* 2014-09-05 */
.scan-box{margin-top:58px;margin-left:20px;width:380px;overflow:hidden;}
.scan-box dl{float:left;margin-right:15px;}
.scan-box dt{width:110px;height:110px;overflow:hidden;}
.scan-box dd{margin-top:10px;height:22px;overflow:hidden;}
.scan-box dt img{display:block;width:110px;height:110px;overflow:hidden;}
.scan-box-jia .add-btn{display:block;width:110px;height:22px;background:url(images/new-bg1029.png) no-repeat 0 0;}
.scan-box-jia .add-btn:hover{display:block;width:110px;height:22px;background:url(images/new-bg1029.png) no-repeat 0 -22px;}
.scan-box dd p{padding-left:24px;width:86px;height:22px;line-height:22px;color:#333;}
.scan-box-wei p{background:url(images/new-bg1029.png) no-repeat 0 -46px;}
.scan-box-xin p{background:url(images/new-bg1029.png) no-repeat 0 -65px;}
.index-help div.zs{width:320px;background:url(images/new-bg1029.png) no-repeat 0 -88px;}

.root1200 .index-help div.zs{width:470px;}
.root1200 .index-help div.question{width:300px;}

/* 2015-01-16 ie6 关注我们错位*/
.scan-box-wei,
.scan-box-xin,
.scan-box-jia{width: 110px;}

/*添加免费文字样式*/
.floor .pro-list ul li p.text-price b{font-size: 16px;font-family: "Microsoft yahei";}
/*电子书添加gif*/
.book-gif {margin-top: -30px;}
.book-gif img{ display: none;}
.book-gif .img-show {display: block;}







